= render "tracks_links"

%h1.text-center Moje aktywności

- if @tracks.empty?
  %h2.text-center Brak danych :(
- else
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th #
        %th Trasa
        %th Dystans
        %th Data
        %th
    %tbody
      - @tracks.each_with_index do |track, index|
        %tr
          %td=index+1
          %td
            = link_to track_path(track) do
              =track.location_a
              %br
              =track.location_b
          %td="#{track.distance} km"
          %td= l track.created_at
          %td
            = link_to track, method: :delete, data: { confirm: 'Na pewno?' }, class: "btn btn-default" do
              %span{class: "fa fa-trash"}



