= render "tracks_links"

%h1.text-center Nowa aktywność

= form_for @track, :html => {class: "form-horizontal"} do |f|
  - if @track.errors.any?
    %ul
    - @track.errors.full_messages.each do |message| 
      %li.text-center.text-danger= message
  .form-group
    = f.label :location_a, class: "col-sm-2 control-label" do
      %span.label.label-primary A
    .col-sm-8
      = f.text_field :location_a, class: "form-control", placeholder: "Adres"
  .form-group
    = f.label :location_b, class: "col-sm-2 control-label" do
      %span.label.label-danger B
    .col-sm-8
      = f.text_field :location_b, class: "form-control", placeholder: "Adres"
      %span#helpBlock.help-block Adres: miejscowość, miasto lub dokładny adres (Słomińskiego 7, Warszawa, Polska)
  .form-group
    = f.label :description, value: "Opis", class: "col-sm-2 control-label"
    .col-sm-8
      = f.text_area :description, class: "form-control", placeholder: "To pole może być puste"
  .form-group
    %div{class: "col-sm-offset-2 col-sm-8"}
      = f.submit "Zapisz aktywność", class: "btn btn-primary"
