%h1 New track

= form_for @track do |f|
  - if @track.errors.any?
    %ul
    - @track.errors.full_messages.each do |message| 
      %li= message
  = f.label :location_a, value: "Adres A"
  = f.text_field :location_a
  %br
  = f.label :location_b, value: "Adres B"
  = f.text_field :location_b
  %br
  = f.submit