= render "tracks_links"

%h1.text-center Statystyki

.row
  .col-sm-3.col-sm-offset-2.col-xs-6
    %h4.page-header= "W tym miesiącu: #{@month_distance.round(2)} km"
    %table.table.table-striped.table-hover.table-condensed.table-bordered
      %thead
        %tr
          %th Data
          %th Dystans
      %tbody
        - @month_days.each do |key, value|
          %tr
            %td=l key
            %td="#{value} km"
  .col-sm-3.col-xs-6
    %h4.page-header= "W tym tygodniu: #{@week_distance.round(2)} km"
    - if @week_tracks.nil?
      Brak danych :(
    - else
      - @week_tracks.each do |track|
        = link_to "#{l track.created_at}: #{track.distance} km", track_path(track)
        %br
  