= console

= form_for (@question), :url => pages_home_path do |f|
  = f.text_field :content, value: params[:content], class: "form-control", style: "width: 50%"
  %br
  = f.submit 'Search', class: 'btn btn-primary'

-if @cords
  = @cords[:lat]
  = @cords[:lng]
  %br
  = image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@cords[:lat]}%2C#{@cords[:lng]}&maptype=hybrid"
  