- content_for :jumbotron do
  .jumbotron
    .container
      .row
        .col-sm-7
          %h1 Fitofit
          %p Rejestrator aktywności
          %br
          %p
            %a.btn.btn-primary.btn-lg{:href => "pages/demo", :role => "button"} Sprawdź demo »
        .col-xs-12.col-sm-5.col-md-3
          - if !user_signed_in?
            .well
              = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
                .form-group
                  = f.label :email, value: "E-mail", class: "control-label"
                  = f.email_field :email, autofocus: true, class: "form-control"
                .form-group
                  = f.label :password, value: "Hasło", class: "control-label"
                  = f.password_field :password, autocomplete: "off", class: "form-control"
                - if devise_mapping.rememberable?
                  .form-group
                    = f.check_box :remember_me
                    = f.label :remember_me, value: "Zapamiętaj", class: "control-label"
                .form-group
                  = f.submit "Zaloguj", class: "btn btn-primary"
              - resource_class.omniauth_providers.each do |provider|
                = link_to "Zaloguj z #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider)
                %br

.row
  .col-sm-4
    %h1.text-center=icon("map-marker", class: "fa-lg homepage-icon")
    %p.text-center Zobacz odwiedzone miejsca na mapie
  .col-sm-4
    %h1.text-center=icon("compass", class: "fa-lg homepage-icon")
    %p.text-center Wyliczanie odległości i statystyk
  .col-sm-4
    %h1.text-center=icon("user", class: "fa-lg homepage-icon")
    %p.text-center Łatwe logowanie przez Facebook i Github

- content_for :footer do
  %footer.footer
    .container
      %br
      %p.text-left 
        zmateusz
        %a{href: "https://github.com/zmateusz/fitofit"} 
          =icon("github-square")