- content_for :jumbotron do
  .jumbotron
    .container
      .row
        .col-sm-7
          %h1 Fitofit
          %p Log your activities and get some stats
          %p
            %a.btn.btn-primary.btn-lg{:href => "pages/demo", :role => "button"} Try demo »
        .col-xs-8.col-sm-5.col-md-3
          - if !user_signed_in?
            .well
              = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
                .field
                  = f.label :email
                  %br/
                  = f.email_field :email, autofocus: true
                .field
                  = f.label :password
                  %br/
                  = f.password_field :password, autocomplete: "off"
                - if devise_mapping.rememberable?
                  .field
                    = f.check_box :remember_me
                    = f.label :remember_me
                .actions
                  = f.submit "Log in"
              - resource_class.omniauth_providers.each do |provider|
                = link_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider)
                %br

.row
  .col-sm-4
    %h2 Heading
    %p Donec id elit non mi porta gravida at eget metus. 
    %a.btn.btn-default{:href => "#", :role => "button"} View details »
  .col-sm-4
    %h2 Heading
    %p Donec id elit non mi porta gravida at eget metus. 
    %a.btn.btn-default{:href => "#", :role => "button"} View details »
  .col-sm-4
    %h2 Heading
    %p Donec sed odio dui. Cras justo odio, dapibus ac 
    %a.btn.btn-default{:href => "#", :role => "button"} View details »
